.products {
  height: 100%;
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  &__error-message {
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
  }

  @media (max-width: 1359px) {
    width: 620px;
  }

  @media (max-width: 1029px) {
    gap: 20px;
    max-width: 950px;
    width: auto;
  }
}