@use '../scss/variables' as *;

.userboard {
  position: relative;
}

.cart-icon {
  height: 54.5px;
}

.cart-counter {
  width: 26px;
  position: absolute;
  font-size: 2.2rem;
  text-align: center;
  top: 20px;
  right: 14px;
  color: #000000;
  font-weight: bold;
}