@use '../scss/variables' as *;

.product-filters {
  min-width: 290px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 25px 20px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);

  .filter__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  @media (max-width: 1029px) {
    max-width: 950px;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    .range-filters {
      width: 60vw;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .filter__values {
      width: 30vw;
      align-self: center;
    }

    .checkbox-filters {
      max-height: 170px;
      flex-direction: row;
      gap: 40px;
    }

    .filter__items {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.checkbox-filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.noUi-target {
  padding: 0 16px;
}

.noUi-handle {
  cursor: pointer;
}

.noUi-connects {
  cursor: pointer;
}

.noUi-connect {
  transition: 80ms background ease-in-out;
  background: #617fa7;
  &--unused {
    background: #f4f4f4;
  }
}

.filter__title {
  font-weight: bold;
}

.filter__values {
  display: flex;
  justify-content: space-between;
}

.filter__value {
  font-size: 1.6rem;
}

.filter-checkbox {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-checkbox__text-label {
  cursor: pointer;
  padding-right: 10px;
}

.filter-checkbox__input {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.search-filter {
  flex-grow: 1;
  padding: 10px 15px;
  border: $color-text-disabled 1px solid;
  border-radius: 9px;
  &:hover:not(:focus) {
    border: $color-accent-hover 1px solid;
  }
  &:focus {
    border: $color-accent-primary 1px solid;
    outline: $color-accent-primary 2px solid;
  }
}

.main__sort-filter {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sort-filter {
  flex-grow: 1;
  padding: 10px 15px;
  border: $color-text-disabled 1px solid;
  border-radius: 9px;
  cursor: pointer;
  &:hover:not(:focus) {
    border: $color-accent-hover 1px solid;
  }
  &:focus {
    border: $color-accent-primary 1px solid;
    outline: $color-accent-primary 2px solid;
  }
}