@use '../../scss/variables' as *;

.categories {
  &__item {
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
    transition: 80ms all ease-in-out;

    &--active {
      color: $color-accent-primary;
    }

    &:hover {
      color: $color-accent-hover;
    }
  }
}