@use '../../scss/variables' as *;

.product-filters {
  min-width: 290px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 25px 20px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);

  .filter {
    &__items {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  @media (max-width: 1029px) {
    max-width: 950px;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    .filter {
      &__values {
        width: 30vw;
        align-self: center;
      }

      &__items {
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    .range-filters {
      width: 60vw;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .checkbox-filters {
      max-height: 95px;
      flex-direction: row;
      gap: 40px;
    }
  }
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-weight: bold;
  }

  &__values {
    display: flex;
    justify-content: space-between;
  }

  &__value {
    font-size: 1.6rem;
  }
}

.checkbox-filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-checkbox {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;

  &__text-label {
    cursor: pointer;
    padding-right: 10px;
  }

  &__input {
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}

.noUi {
  &-target {
    padding: 0 16px;
  }
  
  &-handle {
    cursor: pointer;
  }

  &-connects {
    cursor: pointer;
  }

  &-connect {
    transition: 80ms background ease-in-out;
    background: #617fa7;

    &--unused {
      background: #f4f4f4;
    }
  }
}

.search-filter {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 9px;
  -webkit-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);

  &:hover:not(:focus) {
    outline: $color-accent-hover 1px solid;
  }

  &:focus {
    outline: $color-accent-primary 2px solid;
  }
}

.main {
  &__sort-filter {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.sort-filter {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  &:hover:not(:focus) {
    outline: $color-accent-hover 1px solid;
  }
  &:focus {
    outline: $color-accent-primary 2px solid;
  }
}