@use './scss/variables' as *;

body {
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background: white;
  padding: 20px 0;
}

.header .container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main {
  flex-grow: 1;
}

.main .container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  gap: 40px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main__body {
  display: flex;
  gap: 40px;
}

.link-button {
  background: none;
  border: none;
  color: $color-accent-primary;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: $color-accent-hover;
  }
  &:disabled {
    color: $color-text-disabled;
  }
}

.footer {
  width: 100%;
  background: white;
  padding: 20px 0;
  -webkit-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 15px -10px rgba(34, 60, 80, 0.2);
}

.footer .container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__info {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  a {
    font-weight: bold;
    text-decoration: none;
    color: $color-text-primary;
    &:hover {
      color: $color-accent-primary;
    }
  } 
}  

.footer .rsschool-logo {
  height: 4.8rem;
}

.userboard {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.button {
  height: fit-content;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 9px;
  border: $color-accent-primary 3px solid;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 80ms all ease-in-out;
  &:hover {
    border-color: $color-accent-hover;
    color: $color-accent-primary;
  }
}