* {
  box-sizing: border-box;
}

html {
  font-size: 10px;

  @media (max-width: 1029px) {
    font-size: 9px;
  }
}

body {
  min-height: 100vh;
  font-family: $font-roboto;
  font-size: 1.8rem;
  color: $color-text-primary;
  background-color: $color-bg-primary;
}